<div *ngFor="let header of headers" class="icon">
  <a [href]="header.homeUrl">
    <img src="{{header.iconUrl}}"/>
    <p>{{ header.name }}</p>
  </a>
</div>
<div *ngIf="authService.isAuthenticated() && config.canChangePassword" class="icon">
  <a (click)="goToSetPassword()" class="pointer">
    <img src="assets/password.svg" priority/>
    <p>Set Password</p>
  </a>
</div>
<div *ngIf="authService.isAuthenticated() && config.canLogout" class="icon">
  <a (click)="logout()" class="pointer">
    <img src="assets/logout.svg"/>
    <p>Logout</p>
  </a>
</div>
